{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div style="width: 50%; margin: auto;" class="alert alert-{{message.tags}} text-center" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}

    <form style="width: 50%; margin: auto;" action="" method="post" novalidate>
        <h1>Sign Up</h1>
        {% csrf_token %}
        <!-- {{form | crispy}} -->
        {% for field in form %}
        <div class="mb-3">
            <!-- {{field.label}} -->
            {{field.label_tag}}
            {{field}}
            <!-- {{field.errors}} -->
            {{field.errors|striptags}}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit">
        <div>
            <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
        </div>
    </form>
{% endblock %}