{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}


<form style="width: 50%; margin: auto;" action="" method="POST" novalidate>

    {% include '_title_block.html' %}

    {% include 'messages/_sweet_alerts.html' %}

    {% csrf_token %}
    <!-- {{form|crispy}} -->

    <!-- {% for field in form %}
    <div class="form-group">
        {{field|as_crispy_field}}
    </div>
    {% endfor %} -->

    {% for field in form %}
    <div class="form-group">
        {{field.label_tag}}
        {{field}}
        {{field.errors|striptags}}
    </div>
    {% endfor %}

    <input class="btn {{button_class}} mt-2" type="submit" value="{{button_text}}">

    {% if button_text == "Login" %}
    <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    {% elif button_text == "Sign Up" %}
    <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</form>

{% endblock %}