{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Privacy Settings{% endblock %}

{% block content %}


<script>
    function changeFavicon(url) {
        var link = document.querySelector("link[rel~='icon']");
        if (!link) {
            link = document.createElement('link');
            link.rel = 'icon';
            document.head.appendChild(link);
        }
        link.href = url;
    }

    // Change the favicon to a new image
    changeFavicon('{% static "images/profile.png" %}');
</script>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <!-- Display messages -->
                        <!-- {% include 'messages/messages.html' %} -->
                        {% include 'messages/_sweet_alerts.html' %}

                    </div>
                    <h1 class="text-center mb-4">Welcome to Your Profile</h1>
                    <h2 class="text-center mb-4">Hello, {{ user }}</h2>

                    <div class="text-center mb-3">
                        <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
                    </div>

                    <hr class="my-4">

                    <div class="text-center mb-3">
                        <a href="{% url 'password_change_without_old_password' %}" class="btn btn-secondary">Change
                            Password without Old Password</a>
                    </div>

                    <div class="mt-4">
                        <div class="text-center">
                            <a href="{% url 'edit_privacy_settings' %}" class="btn btn-warning">Update User Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}