{% extends 'base.html' %} {% block head_title %}{{ title }}{% endblock %} {% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}


    <h2>Transfer Money</h2>
    <p>Current Balance: {{ user.account.balance }} $</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Transfer">
    </form>


{% endblock %}